header {
    background-color: #282a35;
}

header,
body,
footer {
    padding: 5px;
}

a.active {
    background-color: #636261;
    cursor: default;
}

nav a:hover {
    background-color: #636261;
}

nav a {
    display: inline-block;
    height: 22px;
    width: 100px;
    padding: 12px;
    text-align: center;
    border: 2px;
    background-color: coral;
    color: white;
    text-decoration: none;
}

body {
    background-color: #e7e9eb;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body > p {
    background-color: #ffffff;
}

body > img {
    background-color: white;
}

section {
    padding: 1rem 0;
    min-height: 78vh;
}

footer {
    background-color: #282a35;
    color: white;
    padding: 1em;
}

th {
    text-align: left;
    padding-right: 1em;
}
